<div class="breadcrumb-container">
    <nav class="breadcrumbs">
        <ol typeof="BreadcrumbList" vocab="https://schema.org/" aria-label="breadcrumbs">
            {% for label, url in links %}
                <li property="itemListElement" typeof="ListItem">
                    <a class="breadcrumb-current-page" property="item" typeof="WebPage" href="{{ url }}">
                        <span property="name">{{ label }}</span>
                    </a>
                    <meta property="position" content="4">
                </li>
            {% endfor %}
        </ol>
    </nav>
</div>