{# Example from django-components/issues/98 #}
{% load component_tags %}
<div class="frontmatter-component">
    <div class="title">{% slot "title" %}Title{% endslot %}</div>
    {% if component_vars.is_filled.subtitle %}
        <div class="subtitle">{% slot "subtitle" %}Optional subtitle{% endslot %}</div>
    {% elif component_vars.is_filled.alt_subtitle %}
        <div class="subtitle">{% slot "alt_subtitle" %}Why would you want this?{% endslot %}</div>
    {% else %}
       <div class="warning">Nothing filled!</div>
    {% endif %}
</div>
