{% load component_tags %}
{% slot "header" %}START{% endslot %}
<div class="dashboard-component">
  {% component "calendar" date="2020-06-06" %}
    {% fill "header" %}  {# fills and slots with same name relate to diff. things. #}
      {% slot "header" %}NESTED{% endslot %}
    {% endfill %}
    {% fill "body" %}Here are your to-do items for today:{% endfill %}
  {% endcomponent %}
  <ol>
    {% for item in items %}
      <li>{{ item }}</li>
      {% slot "header" %}LOOP {{ item }} {% endslot %}
    {% endfor %}
  </ol>
</div>
